<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4DQhm6QtB2jzyLaJ78b_QCFb4Hi-vcnRXQnsnSJaKpmJ_lcXry3uL1irFO_V5C_NvFIs&usqp=CAU"
          alt="Card image cap"
        />
        <div class="card-body">
          <button class="btn btn-danger" routerLink="users">Check Users</button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://thumbnail.imgbin.com/22/11/20/imgbin-manager-management-free-content-office-manager-s-0k045TmKFQ8RXwsKKpdz6pB0m_t.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <button class="btn btn-danger" routerLink="managers">Check Manager</button>
        </div>
      </div>
    </div>

    <!-- <div class="col-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://www.kindpng.com/picc/m/111-1114696_user-add-plus-new-man-person-admin-security.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <button class="btn btn-danger" routerLink="">
            Set Admin
          </button>
        </div>
      </div>
    </div> -->
  </div>
</div>
