<div *ngIf="viewMode; else editable">
  <div *ngIf="currentDevice.id">
    <h4>Devices Details</h4>
    <div>
      <label><strong>Serial ID:</strong></label> {{ currentDevice.serialId }}
    </div>

    <div>
      <label><strong>Model:</strong></label> {{ currentDevice.model }}
    </div>
    <div>
      <label><strong>Device Type:</strong></label>
      {{ currentDevice.deviceType }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentDevice.published ? "Published" : "Pending" }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/manager/devices/{{ currentDevice.id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentDevice">
    <br />
    <p>Please click on a Devices...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentDevice.id" class="edit-form">
    <strong><h3>Devices Details</h3></strong>
    <form>
      <div class="form-group">
        <label for="model">Serial ID</label>
        <input
          type="text"
          class="form-control"
          id="serialId"
          [(ngModel)]="currentDevice.serialId"
          name="serialId"
        />
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <input
          type="text"
          class="form-control"
          id="model"
          [(ngModel)]="currentDevice.model"
          name="model"
        />
      </div>
      <div class="form-group">
        <label for="deviceType">Device Type</label>
        <input
          type="text"
          class="form-control"
          id="deviceType"
          [(ngModel)]="currentDevice.deviceType"
          name="deviceType"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentDevice.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentDevice.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentDevice.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteDevice()">
      Delete
    </button>
    
  
    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateDevice()"
    >
      Update
    </button>
    <p>{{ message }}</p>

    <button
      type="submit"
      class="badge badge-info mb-2"
      routerLink="../"
    >
      Back
    </button>
  </div>

  <div *ngIf="!currentDevice.id">
    <br />
    <p>Cannot access this Device...</p>
  </div>
</ng-template>
