<div class="container-fluid">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="" class="navbar-brand">AR Inventory</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <form class="d-flex" >
            <button class="btn btn-outline-success" style="margin-left: 700px;" (click)="logout()">Logout</button>
          </form>
        </div>
  </nav>
</div>
  <div class="list row">
    <div class="col-md-6 mt-5">
      <h4>Devices List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let device of devices; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveDevices(device, i)"
        >
        <strong>Serial ID: </strong>{{ device.serialId}}
          <br />
          <strong>Model: </strong>{{ device.model }}
          <br />
          <strong>DeviceType: </strong>{{ device.deviceType}}
          <br />
          <!-- <strong>Status: </strong>{{ device.available ? "Available" : "Not Available" }} -->
          <br />
          <strong>User of Device: </strong> <b style="color: #FF0000;">{{ device.username  }}</b>
        </li>
      </ul>
    </div>
    <div class="col-md-3 mt-5">
      <button type="button" class="btn btn-success ml-5" routerLink="myDevice">Show My Device</button>
    </div>
  </div>