<div class="list row mt-3">

  <div class="col-md-6">
    <div class="input-group mt-5 mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search the Username"
        [(ngModel)]="model"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          (click)="searchUserName()"
        >
          Search
        </button>
      </div>
    </div>

  </div>
  <div class="col-md-5 mt-5">
    <button type="button" class="btn btn-info mr-2" routerLink="../">Back</button>
    <button type="button" class="btn btn-success" routerLink="addUser">Create User</button>
  </div>
    <div class="col-md-8">
      
      <h4>Users List</h4>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersDetails; let i = index" [class.active]="i == currentIndex"
          
          >
        <td>
          <strong><label>{{ user.username }}</label></strong>
        </td>
      <td>
        {{ user.email }}
      </td>
      <td>
        <button (click)="deleteUserDetails()" class="btn btn-danger">Delete</button>
        <button style='margin-right:16px' class="btn btn-success" style="margin-left: 10px">Edit details</button>

      </td>
    </tr>
        </tbody>
      </table>
    </div>
    
    <div class="col-md-4 mt-5">
        <app-users-details
        [viewMode]="true"
        [currentUsers]="currentUsers">
        </app-users-details>
    </div>
  </div>