<h2 style="margin-top: 10px">User Device List</h2>
<table class="table">
  <thead>
    <tr style="margin-left: 20px">
      <th>Serial ID</th>
      <th>Device Model</th>
      <th>Device Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let device of usersDevices; let i = index" [class.active]="i == currentIndex"
    (click)="setActiveUsersDevices(device, i)">
      <td>{{ device.serialId }}</td>
      <td>{{ device.model }}</td>
      <td>{{ device.deviceType }}</td>
    </tr>
  </tbody>
</table>

