<div class="container">
    <div class="row">  
      <div class="col-3">
        <div class="card" style="width: 16rem">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4DQhm6QtB2jzyLaJ78b_QCFb4Hi-vcnRXQnsnSJaKpmJ_lcXry3uL1irFO_V5C_NvFIs&usqp=CAU" alt="Card image cap">
          <div class="card-body">
            <button class="btn btn-danger" routerLink="users">Check Users</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 16rem">
          <img class="card-img-top" src="https://www.kindpng.com/picc/m/111-1114696_user-add-plus-new-man-person-admin-security.png" alt="Card image cap">
          <div class="card-body">
            <button class="btn btn-danger" routerLink="users/addUser">Add Users</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 16rem">
          <img class="card-img-top" src="https://www.nicepng.com/png/full/246-2469083_electronic-devices-png-live-webcasting-png.png" alt="Card image cap">
          <div class="card-body">
            <button class="btn btn-danger" routerLink="devices">
              Devices List
            </button>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="card" style="width: 16rem">
          <img class="card-img-top" src="https://img.lovepik.com/element/40203/0938.png_1200.png" alt="Card image cap">
          <div class="card-body">
            <button class="btn btn-danger" routerLink="addDevices">
              Add Devices
            </button>
          </div>
        </div>
        
      </div>
    </div>
</div>
