.navbar-expand{
    width: 50%;
    display: flex;
    justify-content: center;
    float: center;
}

.container{
    margin-top: 70px;
}

.card-img-top{
    margin-bottom: 30px;
    height: 200px;
}

.btn-danger{
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}