<div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
    </header>
    <div class="row">
      <div class="col-6">
        <button class="btn btn-danger">Manager Details</button>
      </div>
        
      <div class="col-6">
        <button class="btn btn-danger">Check Users</button>
      </div>
      <div class="col-3">
        <!-- <button class="btn btn-danger">Management</button>
      </div>
      <div class="col-3">
        <button class="btn btn-danger">Management</button> -->
      </div>
    </div>
  </div>